<html lang = "en">
	<head>
		<meta charset="utf-8"/>
		<title>Maintenance Department Request Tracker</title>
		<link rel="stylesheet" href="user_homepage.css">
		<script src="logout.js"></script>
		<script src="side_bar.js"></script>
		<script src="user.js"></script>
	</head>
	<body>
	<div id = "big_wrapper">
		<header id = "top_header">
			<h1>MAINTENANCE TRACKER</h1>
		</header>
		<nav id="top_menu">
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="admin_homepage.html">Home</a></li>
				<li><a href="admin_contact.html">Contact</a></li>
				<li><a href="admin_homepage.html" onclick="logout();">Log out</a></li>
			</ul>
		</nav>
		<div id = "new_div">
			<div id="Sidenav" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="admin_homepage.html" class="lnk active">Dashboard</a>
				<a href="admin_profile.html" class="lnk">Users</a>
				<a href="javascript:location.reload(true)">Refresh Page</a>					
			</div>
			<br>
			<div onclick="openNav()">
				<span>
					<div id="line"></div>
					<div id="line"></div>
					<div id="line"></div>
				</span>
			</div>
			<br>
			<section id = "main_section">
				<center>
					<h1>Contact Us</h1>
				</center>
					<br>
					    Tel: +254-763692541, +254-762332469
					    <br>
                        Email: resource@corp_inc.co.ke 
                        <br>
                        Adress: The 015 office, Main Office, Corps_Inc, Nairobi 100083 Kenya
						<br>
					<br>
					<p>
						Tel: +254-762332541,+254-762332587
					    <br>
                        Email: maintenancedept@corp_inc.co.ke
                        <br>
                        Adress: The 020 office, Eldoret Branch, Corps_Inc, Eldoret 200015 Kenya
						<br>
						</p>
					<br>
					<p>
						Tel: +254-76235478,+254-762359709
					    <br>
                        Email: corpdept@gmail.com
                        <br>
                        Adress: The 107 office, Kisumu Branch, Corps_Inc, Kisumu 564141 Kenya
					<br>
					</p>
			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>