<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8"/>
		<title>Admin Received Requests</title>
		<link rel="stylesheet" href="user_homepage.css">
		<script src="logout.js"></script>
		<script src="login.js"></script>
		<script src="side_bar.js"></script>
	</head>
	<body>
	<div id = "big_wrapper">
		<header id = "top_header">
			<h1>MAINTENANCE TRACKER</h1>
		</header>
		<nav id="top_menu">
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="admin_homepage.html">Home</a></li>
				<li><a href="admin_contact.html">Contact</a></li>
				<li><a href="admin_requests.html" onclick="logout();">Log out</a></li>
			</ul>
		</nav>
		<div id = "new_div">
			<div id="Sidenav" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				  <a href="admin_profile.html">View Users</a>
				  <a href="admin_requests.html">Received requests</a>
				  <a href="admin_view.html">View requests</a>
				<a href="javascript:location.reload(true)">Refresh Page</a>					
			</div>
			<br>
			<span onclick="openNav()">
				<div id="line"></div>
				<div id="line"></div>
				<div id="line"></div>
			</span>
			<section id = "main_section">
				<form>
					<input type="text" placeholder="Type here..." maxlength="50" id="search_bar">
					<input type="submit" value="Search" id="submit">
				</form>	
				<br><h1>Incoming Requests...</h1><br>
				<div id="admin_requests">
					<div style="overflow-x:auto;">
						<table border="1px solid black">
							<thead>
								<th>Request_id</th>
								<th>Request</th>
								<th>Department</th>
								<th>Status</th>
								<th>Personal_id</th>
								<th id="lol">Approve</th>
								<th>Disapprove</th>
								<th>Delete</th>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>