<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8"/>
		<title>Maintenance Department Request Tracker</title>
		<link rel="stylesheet" href="../static/css/user_homepage.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<script src="../static/js/logout.js"></script>
		<script src="../static/js/admin_view.js"></script>
		<script src="../static/js/side_bar.js"></script>
		<script src="../static/js/user.js"></script>
		<script src="../static/js/admin_resolve.js"></script>
		<script src="../static/js/admin_users.js"></script>
		<script src="../static/js/admin_reject.js"></script>
		<script src="../static/js/admin_approve.js"></script>
		<script src="../static/js/search.js"></script>
	</head>
	<body>
	<div id = "big_wrapper">
		<div id = "new_div">
			<div id="Sidenav" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="admin_homepage.html" class="lnk active">Dashboard</a>
				<a href="admin_profile.html" class="lnk">Users</a>
				<a href="javascript:location.reload(true)">Refresh Page</a>					
			</div>
			<br>
			<div onclick="openNav()">
				<span>
					<div id="line"></div>
					<div id="line"></div>
					<div id="line"></div>
				</span>
			</div>
			<section id = "main_section">
				<header id = "top_header">
					<div id="first">
					<h4>MAINTENANCE TRACKER</h4>
					</div>
					<div id="username" onclick="logout();">
						<div id="user"></div>
						<i class="far fa-user"></i>
					</div>
				</header>	
				<br>
				<div id="search_req-form">
					<input type="text" placeholder="Search here..." maxlength="50" oninput="filterRequests(this)">
				</div>
				<br>
				<div id="filter_buttons">
					<a href="admin_approve.html" id="filter_button" class="button">Approved Requests</a>
					<a href="admin_reject.html" id="filter_button" class="button">Rejected Requests</a>
					<a href="admin_resolve.html" id="filter_button" class="button">Resolved Requests</a>
				</div>
				<br><br>
				<div id="admin_requests">
					<div style="overflow-x:auto;">
						<table border="1px solid black" align="center" id="tab">
							<thead>
								<th>Request id</th>
								<th>Request</th>
								<th>Department</th>
								<th>User ID</th>
								<th>Status</th>
								<th>Approve</th>
								<th>Disapprove</th>
								<th>Delete</th>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>	
			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>