<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8"  />
		<title>Maintenance Department Request Tracker</title>
		<link rel="stylesheet" href="user_homepage.css">
		<script src="logout.js"></script>
		<script type="text/javascript" src="login.js"></script>
		<script type="text/javascript" src="side_bar.js"></script>
	</head>
	<body>
	<div id = "big_wrapper">
		<header id = "top_header">
			<h1>MAINTENANCE TRACKER</h1>
		</header>
		<nav id = "top_menu">
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="user_homepage.html">Home</a></li>
				<li><a href="user_contact.html">Contact</a></li>
				<li><a href="view_req.html" onclick="logout();">Log out</a></li>
			</ul>
		</nav>
		<div id = "new_div">
			<div id="Sidenav" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				  <a href="make_req.html">Make Request</a>
				  <a href="view_req.html">View Requests</a>
				  <a href="feedback.html">Feedback</a>
				<a href="javascript:location.reload(true)">Refresh Page</a>					
			</div>
			<br>
			<span onclick="openNav()">
				<div id="line"></div>
				<div id="line"></div>
				<div id="line"></div>
			</span>
			<section id = "main_section">
				<form class="search_req-form" id="search_req-form" method="post" enctype="multipart/formdata" onsubmit="return searchreq(this);">					
					<input type="integer" placeholder="Type Request_id here..." maxlength="50" id="search_bar">
					<input type="submit" value="Search" id="submit">
				</form>
				<div id="search_req">
					<div style="overflow-x:auto;">
						<table border="1px solid black">
							<thead>
								<th>Request_id</th>
								<th>Request</th>
								<th>Department</th>
								<th>Status</th>
								<th>Personal_id</th>
								<th>Modify</th>
								<th>Delete</th>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>

			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>