<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
		<title>Maintenance Department Request Tracker</title>
		<link rel="stylesheet" href="user_homepage.css">
		<script src="logout.js"></script>
		<script src="side_bar.js"></script>
	</head>
	<body>
	<div id = "big_wrapper">
		<div id = "top_header">
			<h1>MAINTENANCE TRACKER</h1>
		</div>
		<nav id="top_menu">
			<ul>
				<li><a href="about.html">About</a></li>
				<li><a href="user_homepage.html">Home</a></li>
				<li><a href="user_contact.html">Contact</a></li>
				<li ><a href="user_homepage.html" onclick="logout();">Log out</a></li>
			</ul>
		</nav>
		<div id = "new_div">
			<div id="Sidenav" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				  <a href="make_req.html">Make Request</a>
				  <a href="view_req.html">View Requests</a>
				  <a href="feedback.html">Feedback</a>
				<a href="javascript:location.reload(true)">Refresh Page</a>					
			</div>
			<br>
			<span onclick="openNav()">
				<div id="line"></div>
				<div id="line"></div>
				<div id="line"></div>
			</span>
			<section id = "main_section">
				<form>
					<input type="text" placeholder="Type here..." maxlength="50" id="search_bar">
					<input type="submit" value="Search" id="submit">
				</form>
				<br>
				<div id="image">
					<img src="gears.jpg" id="index_image">
				</div>
				<div id="home_text">
					<h2>lolololololololololorem ipsum etc</h2><br>
					<h2>loremipsummmmmmmmmmm</h2>
				</div>
				<div class="content">Do you like to  play a candy crush? Check out this new fruit crush game <a href="goole.com">https://www.google.com/</a> Or would you rather cube crush<a href="google.com">https://www.google.com/</a> If you love it give us a five star rating and share with your friends
				More coming soon!</div>
				<div class="content">Do you like to  play a candy crush? Check out this new fruit crush game <a href="goole.com">https://www.google.com/</a> Or would you rather cube crush<a href="google.com">https://www.google.com/</a> If you love it give us a five star rating and share with your friends
				More coming soon!</div>
				<div class="content">Do you like to  play a candy crush? Check out this new fruit crush game <a href="goole.com">https://www.google.com/</a> Or would you rather cube crush<a href="google.com">https://www.google.com/</a> If you love it give us a five star rating and share with your friends
				More coming soon!</div>
			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>