<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8"/>
		<title>Maintenance Department Request Tracker</title>
		<link rel="stylesheet" href="../static/user_homepage.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<script src="../static/logout.js"></script>
		<script src="../static/main.js"></script>
		<script src="../static/side_bar.js"></script>
		<script src="../static/user.js"></script>
	</head>
	<body>
	<div id = "big_wrapper">
		<div id = "new_div">
			<div id="Sidenav" class="sidebar" tabindex="1">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="user_homepage.html" class="lnk active">Dashboard</a>
				<a href="make_req.html" class="lnk">Make request</a>
				<a href="user_contact.html" class="lnk">Contact Us</a>
				<a href="javascript:location.reload(true)">Refresh Page</a>					
			</div>
			<br>
			<div onclick="openNav()">
				<span>
					<div id="line"></div>
					<div id="line"></div>
					<div id="line"></div>
				</span>
			</div>
			<section id = "main_section">
				<header id = "top_header">
					<div id="first">
					<h4>MAINTENANCE TRACKER</h4>
					</div>
					<div id="username" onclick="logout();">
						<i class="far fa-user"></i>
						<div id="user"></div>
					</div>
				</header>	
				<br>
				<div id="search_req-form">
					<input type="text" placeholder="Search..." maxlength="50" oninput="filterRequests(this)">
				</div>
				<br><br>
				<div id="requests">
					<div style="overflow-x:auto;">
						<table border="1px solid black" align="center" id="tab">
							<thead>
								<th>Request id</th>
								<th>Request</th>
								<th>Department</th>
								<th>Status</th>
								<th>Modify</th>
								<th>Delete</th>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>	
			</section>
		</div>
		<footer id = "the_footer">
			@copyright2018
		</footer>
	</div>
	</body>
</html>